.nav {
    display: flex;
    }
    .nav a {
        margin: 0 40px 30px;
    }
    .ml-24 {
    margin-right: 24px;}
    td, th,.subtitle {
    text-align: center!important}
    .cendre {
        background: #fcfcfc;
    }
    .p-30.cendre {
    min-height:500px;}
    .navbar.box {
    margin-bottom:0px
    }
    .m-0{
    margin: 0px !important}
    .is-active a{
        border-bottom-color: #F9BC28!important;
       color: #F9BC28!important;
       font-weight: 500;}
    .p-30 {
        padding: 30px;
        }
    .card {
        width: 60%;
       margin: auto;
       border-radius: 20px;
       margin-bottom: 30px}
      
    .card img {
      border-radius: 20px;
       margin: auto;
       width: 100%;
       height: 250px;
           background: #fcfcfc;}
     .link {
       color: #F9BC28!important;
       font-weight: 500;
       }
     .truncate {
         width: 100%;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
       }
       .fw-500 {
       font-weight: 500px;}
    .p-22 {
    padding: 22px;
    }
    a.navbar-item.is-active,a.navbar-item:hover,a.navbar-item:active{
    background: #F9BC28!important;
       color: #fcfcfc!important;
    }
    .pagination {
       justify-content: center;
   }
   .tabs span{
   align-items: center;
       color: #2B2B2B;
       display: flex;
       justify-content: center;
       margin-bottom: -1px;
       margin: .5em ;
       vertical-align: top;}
       .w-500{
       font-weight: 500;}
       .img40{
       width: 40%;
       border-bottom-left-radius: 20px;
       border-top-left-radius: 20px;}
       .tile {
       padding: 0 24px;}
        .pb-0 {
        padding-bottom: 0px}
        .mb-10 {
        margin-bottom:10px}
        .scroll-x{
        overflow-x: auto;}
        .slider {
            overflow-y: hidden;
       transition-property: all;
       transition-duration: .5s;
       transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
       }
       .slider.closed {
       height: 0;
   }
   .notification{
   padding: 0.5rem 2.5rem!important;
       margin-bottom: 8px!important;
       margin-right: 40px!important;
       }
   .hide{
   display:none!important}
   .w80 {
        width:80%;
        margin:auto}
        .scroll-y{
        overflow-y: auto;}
        .tile.box{
        padding: 24px;}
        form{
        border-radius: 8px;}
        form header {
        position: fixed!important;
       z-index: 30;
       width: 640px;
       background-color: #F9BC28!important;
       border-color: transparent;
       text-align:center!important}
       form header p {
       color: #fcfcfc!important;
       }
       form section {
       padding-top: 73px!important}
       form footer .save{
       margin-left:auto;}
       form footer .save{
       margin-left:auto;}
       form footer .cancel{
       margin-right:auto;}
       .modal.full .modal-card{
           width: 100vw;}
       .modal.full .modal-card,.modal.full .form ,.modal.full section{
           background: transparent;}
       .modal.full header {
             width: calc(100vw - 7.4vw);
       margin: 0 3.3vw;}
       .modal.full section{
       padding-top: 0!important;
       }
       #notificationDetailPetition{
       position: fixed;
       bottom: 0;
       right: 4px;
       width: calc(33.33% - 46px);}
           .w-60{
           width:60%
       }
       .search input{
       border-radius: 20px;
    border-color: #F9BC28!important;
    width: 20%;
    height: 20%;
}
       .txt-center{
       text-align:center!important}
       .mt-8{
       margin-top:8px}
       .link.dark{
       color:#fcfcfc!important}
       .search .control{
       padding-left: 165px;
           width: auto!important;}
       .search li span{
       margin:0!important;}
       .search li.is-active a{
       background-color:  #F9BC28!important;
       border-color:  #fcfcfc!important;
       }
       .search li.is-active span{
       color: #2B2B2B!important;
       font-weight:500}
       .g-signin2{
       margin-bottom:10px}
